* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.page__bin {
    padding-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
}

.page__title {
    font-size: 48px;
    font-weight: 600;
    position: relative;
    height: max-content;
    margin-bottom: 50px;
}

.page__title::before {
    content: "";
    display: block;
    width: 232px;
    height: 3px;
    background: #000;
    position: absolute;
    top: calc(100% + 5px);
}

.page__title::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: #000;
    position: absolute;
    transform: rotate(45deg);
}

.page__order-button-cont {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.page__order-button {
    display: block;
    width: 300px;
    padding: 10px 0px;
    background: #FCDA7C;
    height: max-content;
    text-align: center;
    color: black;
    border: none;
    border-radius: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.page__order-button:hover {
    background: #E5E5E5;
    transition: 0.2s ease-in;
}