* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.landing__part {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 50px;
    box-sizing: border-box;
    height: 686px;
    width: 100%;
    background-image: url(../media/images/main/image1.jpg);
    background-repeat: no-repeat;
    background-position: 40% 50%;
    background-size: cover;
}

.landing__h1 {
    text-align: center;
    font-size: 64px;
    width: 564px;
    color: #fff;
    height: max-content;
    position: relative;
}

.landing__text {
    text-align: center;
    font-size: 24px;
    width: 564px;
    margin: 60px 0px 30px 0px;
    height: max-content;
    color: #fff;
}

.landing__more, .landing__order {
    display: block;
    width: 416px;
    padding: 10px 0px;
    margin-right: 74px;
    background: #FCDA7C;
    height: max-content;
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 24px;
}

.landing__order {
    margin-top: 30px;
}

.landing__h1::before {
    content: "";
    display: block;
    width: 232px;
    height: 3px;
    background: #F2A477;
    position: absolute;
    top: calc(100% + 28px);
    left: calc(50% - 116px);
}

.landing__h1::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: #F2A477;
    position: absolute;
    transform: rotate(45deg);
    top: calc(100% + 24px);
    left: calc(50% - 6px);
}

.about__us {
    margin: 32px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.page__titles {
    text-align: center;
    font-size: 64px;

    width: 80%;
    height: max-content;
    position: relative;
}

.page__titles::before {
    content: "";
    display: block;
    width: 386px;
    height: 3px;
    background: #000;
    position: absolute;
    top: calc(100% + 28px);
    left: calc(50% - 193px);
}

.page__titles::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: #000;
    position: absolute;
    transform: rotate(45deg);
    top: calc(100% + 24px);
    left: calc(50% - 6px);
}

.page__text {
    text-align: center;
    font-size: 24px;
    width: 80%;
    margin: 30px 0px 30px 0px;
    height: max-content;
}

.page__titles ~ .page__text {
    margin: 60px 0px 30px 0px;
}

.page__text ~ .page__text {
    margin: 30px 0px 30px 0px;
}

.deco__element {
    position: relative;
}

.deco__element::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: #000;
    position: absolute;
    transform: rotate(45deg);
    left: calc(50% - 18px);
}

.deco__element::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: #000;
    position: absolute;
    transform: rotate(45deg);
    left: calc(50% + 18px);
}

.gallery {
    padding: 32px;
    margin-top: 32px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: #FFC16B;
}

.gallery > .page__titles {
    color: #fff;
}

.gallery > .page__titles::before {
    background: #fff;
}

.gallery > .page__titles::after {
    background: #fff;
}

.gallery__slider {
    width: 60%;
    height: 60%;
    margin-top: 64px;
}

.goods {
    display: grid;
    margin: 50px 160px 90px 160px;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, max-content);
}

.text__frame_right, .text__frame_left {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 350px;
}

.text__frame_left {
    background-color: #FFF6B7;
}

.text__frame_right {
    background-color: #FCDA7C;
}

.bg__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.goods__button {
    display: block;
    width: 416px;
    padding: 10px 0px;
    background: #FCDA7C;
    height: max-content;
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 24px;
}

.image__frame_cake {
    background-image: url(../media/images/main/image_cake.jpg);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: cover;
    height: 350px;
}

.image__frame_exp {
    background-image: url(../media/images/main/image_exp.jpg);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: cover;
    height: 350px;
}

.image__frame_ecl {
    background-image: url(../media/images/main/image_ecl.jpg);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    background-size: cover;
    height: 350px;
}

.landing__more:hover, .landing__order:hover, .goods__button:hover{
    background: #E5E5E5;
    transition: 0.2s ease-in;
}

@media screen and (max-width: 700px) {
    .landing__part {
        padding-right: 0px;
        align-items: center;
    }
    .landing__more, .landing__order {
        margin-right: 0px;
        width: 70%;
    }
    .landing__h1 {
        width: 240px;
        font-size: 32px;
    }
    .landing__text {
        width: 70%;
    }
    .goods {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        
    }
    .goods > div:nth-child(1) {order: 0;}
    .goods > div:nth-child(2) {order: 1;}
    .goods > div:nth-child(3) {order: 3;}
    .goods > div:nth-child(4) {order: 2;}
    .goods > div:nth-child(5) {order: 4;}
    .goods > div:nth-child(6) {order: 5;}

    .landing__text {
        font-size: 16px;
    }
    .page__text {
        font-size: 16px;
    }
    .page__titles {
        font-size: 36px;
    }

    .goods__button {
        font-size: 18px;
        width: 232px;
    }

    .landing__more, .landing__order {
        font-size: 18px;
        width: 232px;
    }
}

.page__text_goods {
    text-align: center;
    width: 70%;
}

.page__titles_h2 {
    text-align: center;
}